# Environment variables for the Google Sheets and Calendar synchronization script.
SPREADSHEET_ID=
ARCHIVE_SPREADSHEET_ID=

# Timezone and calendar name for Google Calendar events
CALENDAR_TIMEZONE=
CALENDAR_NAME=
CALENDAR_ID=

# Polling interval in seconds for checking updates. Adjust as needed.
POLL_INTERVAL_SECONDS=

# File paths for credentials and token
CREDENTIALS_WORKSHEET_FILE_PATH=
CREDENTIALS_CALENDAR_FILE_PATH=
TOKEN_FILE_PATH=

# Semester format for calendar events. Use {season} and {short_yr} or {full_yr}.
SEMESTER_FORMAT="{season} '{short_yr}"   # "Fall '26"

## Other valid formats:
# SEMESTER_FORMAT="{season} {full_yr}"   # "Fall 2026"
# SEMESTER_FORMAT="{season}"             # "Fall"
# SEMESTER_FORMAT="{season}{short_yr}"   # "Fall26"